@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:wght@300&family=Merriweather+Sans&family=Mochiy+Pop+P+One&family=Outfit:wght@500&family=Readex+Pro&family=Roboto&family=Ubuntu&display=swap');

*{
    cursor: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

body{
    background: linear-gradient(-45deg, #05060a, #0f0505, #030802);
	background-size: 4000% 4000%;
	animation: gradient 25s ease infinite;
}

#content{
    text-align: center;
    margin-top: 70px;
    padding-left: 200px;
    padding-right: 200px;
}

@keyframes selectEffect {
    from{
        box-shadow: none;
    }to{
        box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
    }
}

@keyframes unselectEffect {
    from{
        box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
    }to{
        box-shadow: none;
    }
}

@keyframes glitch {
    0%{
        text-shadow: rgba(62, 240, 46, 0.4) 5px 5px, rgba(62, 240, 46, 0.3) 7px 7px;
        padding-left: 5px;
    }40%{
        text-shadow: rgba(46, 91, 240, 0.4) -5px 5px, rgba(46, 98, 240, 0.3) -7px 7px;
        padding-right: 7px;
    }50%{
        text-shadow: rgba(109, 109, 109, 0.4) 75px 0px, rgba(168, 168, 168, 0.3) -75px 0px;
    }
    60%{
        text-shadow: rgba(240, 46, 46, 0.4) 0px 5px, rgba(240, 46, 46, 0.3) 0px 7px;
        padding-left: 7px;
    }100%{
        text-shadow: rgba(62, 240, 46, 0.4) -5px -5px, rgba(62, 240, 46, 0.3) -7px -7px;
    }
}

#title{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Kanit', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Readex Pro', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-size: 50px;
    text-align: center;
    letter-spacing: 2px;
}

#titleMini{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Kanit', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Readex Pro', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    margin-top: 7px;
    text-align: center;
}

#boxesDivCenter{
    display: inline-block;
    margin-top: 40px;
}

#boxesDiv{
    display: flex;
    flex-direction: column;
}

#box{
    width: 400px;
    border-radius: 20px;
    padding: 40px 40px 40px 40px;
    margin-bottom: 60px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#box:hover{
    box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
    animation: selectEffect 1.5s;
}

#box:not(hover){
    animation: unselectEffect 1s;
}

.discordbot{
    background:linear-gradient(rgba(3, 3, 3, 0.705), rgba(22, 22, 22, 0.808)), url('https://discordpy.readthedocs.io/en/rewrite/_images/snake.png');
    background-size: 200px;
}

.expressjs{
    background:linear-gradient(rgba(3, 3, 3, 0.705), rgba(22, 22, 22, 0.808)), url('https://miro.medium.com/max/365/1*Jr3NFSKTfQWRUyjblBSKeg.png');
    background-size: 300px;
}

.reactjs{
    background:linear-gradient(rgba(3, 3, 3, 0.705), rgba(22, 22, 22, 0.808)), url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/220px-React-icon.svg.png');
    background-size: 300px;
}

.frontend{
    background:linear-gradient(rgba(3, 3, 3, 0.705), rgba(22, 22, 22, 0.808)), url('http://p92.com/binaries/content/gallery/p92website/technologies/htmlcssjs-overview.png');
    background-size: 200px;
}

.qtdev{
    background:linear-gradient(rgba(3, 3, 3, 0.705), rgba(22, 22, 22, 0.808)), url('https://pbs.twimg.com/profile_images/1245613470252298242/ITIZ5vqC_400x400.jpg');
    background-size: 200px;
}

.pentest{
    background:linear-gradient(rgba(3, 3, 3, 0.705), rgba(22, 22, 22, 0.808)), url('https://psmag.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1200/MTI3OTA2NzM5Mjk0MDk1Mzcw/binary-code-greenjpg.jpg');
    background-size: 200px;
}

#box h1{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Kanit', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Readex Pro', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    text-align: left;
}

#box p{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Kanit', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Readex Pro', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    text-align: left;
    margin-top: 7px;
}

#twoFlexBoxes{
    display: flex;
    gap: 50px;
}