.content{
	color:white;
}

.content-titles{
	text-align: center;
	margin-top: 40px;
	font-size: 50px;
}

.content-header{
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	background: linear-gradient(rgba(3, 3, 3, 0.705), rgba(22, 22, 22, 0.808)), url("/home/background.gif");
}

.content-header h1{
	text-align: left;
	font-size: 50px;
}

.content-header p{
	text-align: left;
	font-size: 30px;
}

.content-projects{
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 200px;
	padding-left: 200px;
	padding-right: 200px;
}

.content-projects div{
	width: 500px;
	height: auto;
	text-align: center;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;
	padding-bottom: 20px;
	border-radius: 5px;
	margin: 20px; 
	cursor: pointer;
	transition: .5s;
}

.content-projects div:hover{
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;	
}

.project-abt{
	font-size: 30px;
}

.project-subtext{
	font-weight: 900;
}

.project-links{
	color:white;
	font-size: 35px;
}

.project-links:hover{
	animation-name: colorAnimation;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}