* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 10000% 10000%;
	animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes glid {
0% {opacity: 0%}
50% {opacity: 50%}
100% {opacity: 100%}
}

header {
display: flex;
justify-content: space-between;
align-items; center;
}

.navls {
list-style: none;
text-align: center;
z-index: 10000;
position: fixed;
top: 0px;
width: 100%;
}

.navls li {
display: inline-block;
padding: 0px, 20px;
}


button {
font-size: 17px;
font-family: 'Ubuntu', sans-serif;
margin-top: 17px;
margin-left: 20px;
padding: 10px, 20px;
background-color: blue;
border: none;
border-radius: 45px;
cursor: pointer;
transition: all 0.3s ease 0s;
height: 50px;
width: 120px;
color: white;
animation: glid 2s
}


button:hover {
background-color: darkblue;
}

.menubar {
background-color: lightblue;
opacity: 70%;
height: 85px;
text-align: center;
align-items; center;
border: none;
z-index: 10000;
position: fixed;
top: 0px;
width: 100%;
}

.hidebut {
width: 150px;
background-color: black;
}

.hidebut:hover {
width: 150px;
background-color: gray;
}

.menutext {
font-family: 'Ubuntu', sans-serif;
margin-right: 100px;
animation: glid 2s
}

.banner {
font-size: 60px;
margin-top: 250px;
text-align: center;
font-family: 'Ubuntu', sans-serif;
color: white;
animation: glid 2s
}

.down {
background-color: lightblue;
margin-top: 40px;
width: 55px;
}

.down:hover {
background-color: blue;
}


.firstpart {
margin-top: 300px;
background-color: black;
text-align: center;
font-family: 'Ubuntu', sans-serif;
padding-top: 70px;
}

.firstpart p {
margin-top: 20px;
text-align: center;
font-family: 'Ubuntu', sans-serif;
font-size: 20px;
color: white;
}

.firstpart h1 {
color: white;
}

.contact {
margin-top: 30px;
padding-bottom: 40px;
}

.contact button {
background-color: lightblue;
height: 60px;
border-radius: 30px;
}

.contact button:hover {
background-color: blue;
}

.pageend {
text-align: center;
background-color: white;
}

.pageendp {
color: black;
padding-top: 100px;
font-family: 'Ubuntu', sans-serif;
size: 8px;
padding-bottom: 10px;
}

.lastpro {
background-color: black;
font-family: 'Ubuntu', sans-serif;
color: white;
height: 350px;
}

.boxes {
text-align: center;
display: flex;
justify-content: space-between;
align-items; center;
}

.last1 {
padding-left: 20px;
padding-right: 20px;
padding-top: 10px;
margin-left: 90px;
border: solid;
border-color: white;
width: 330px;
height: 150px;
line-height: 30px;
}

.last2 {
padding-left: 20px;
padding-right: 20px;
padding-top: 10px;
margin-left: 90px;
border: solid;
border-color: white;
width: 330px;
height: 150px;
line-height: 30px;
}

.last3 {
padding-left: 20px;
padding-right: 20px;
padding-top: 10px;
margin-left: 90px;
border: solid;
border-color: white;
width: 330px;
height: 150px;
line-height: 30px;
}

.last4 {
padding-left: 20px;
padding-right: 20px;
padding-top: 10px;
margin-left: 90px;
margin-right: 90px;
border: solid;
border-color: white;
width: 330px;
height: 150px;
line-height: 30px;
}

.last1:hover {
border-width: 10px;
cursor: pointer;
}

.last2:hover {
border-width: 10px;
cursor: pointer;
}

.last3:hover {
border-width: 10px;
cursor: pointer;
}

.last4:hover {
border-width: 10px;
cursor: pointer;
}

.lastpro h1 {
color: white;
text-align: center;
padding-top: 50px;
padding-bottom: 50px;
}

.boxes a {
color: white;
}

.htmltemp {
font-family: 'Ubuntu', sans-serif;
background-color: white;
color: black;
text-align: center;
height: 2000px;
}

.htmltemp h1 {
padding-top: 100px;
padding-bottom: 100px;
}

.alltemps {
display: flex;
justify-content: space-between;
align-items; center;
}


.template {
margin-left: auto;
margin-right: auto;
border-radius: 20px;
border-width: 10px;
width: 850px;
height: auto;
padding-top: 40px;
padding-bottom: 30px; 
padding-right: 30px; 
padding-left: 30px;  
margin-bottom: 100px;
}



.template p{
margin-bottom: 35px;
}

.template img {
width: auto;
height: 300px;
margin-bottom: 50px;
border-radius: 10px;
}

exp {
display: inline-block;
color: blue;
}

.coding {
background-color: black;
}


.coding h1{
color: white;
padding-top: 100px;
padding-bottom: 100px;
text-align: center;
font-size: 80px;
font-family: 'Ubuntu', sans-serif;
background: linear-gradient(45deg, darkgreen, black, darkblue);
background-size: 10000% 10000%;
animation: gradient 10s ease infinite;
}



.template:hover {
cursor: pointer;
color: black;
background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
background-size: 10000% 10000%;
animation: gradient 10s ease infinite;
}

.aboutme {
font-family: 'Ubuntu', sans-serif;
text-align: center;
background-color: black;
color: white;
padding-left: 70px;
padding-right: 70px;
height: 250px;
}

.aboutme h1 {
padding-top: 50px;
padding-bottom: 30px;
}

.aboutme p {
font-size: 20px;
padding-bottom: 20px;
padding-left: 250px;
padding-right: 250px;
}

.aboutme ul {
list-style: none;
}

.aboutme h3 {
margin-left: auto;
margin-right: auto;
margin-bottom: 20px;
margin-top: 20px;
color: lightblue;
font-size: 20px;
padding-top: 10px;
padding-bottom: 10px;
width: 170px;
}

.aboutme li {
margin-top: 10px;
font-size: 20px;
}

.aboutme a {
color: white;
}

.aboutlinks {
display: flex;
justify-content: space-between;
align-items; center;
}

.one {
margin-top: 100px;
border: solid;
border-color: lightblue;
width: 400px;
height: 300px;
margin-left: 100px;
margin-right: 100px;
}

.contact img {
height: 30px;
width: 30px;
}

        span::before {
            content: "Geeks";
            animation: animate infinite 10s;
            padding-left: 10px;
        }
  
        @keyframes animate {
  
            0% {
                content: "I am learning C++";
            }
  
            15% {
                content: "I know about C";
            }
  
            25% {
                content: "I am good at Python";
            }
            
            35% {
                content: "I can code with Bash Script"
            }
            45% {
                content: "I can develop with VBScript"
            }
            55% {
                content: "I am learning HTML"
            }
            65% {
                content: "I am learning CSS"
            }
            75% {
                content: "I am good at networking"
            }
            100% {
                content: "I know about cyber security"
            }
        }

.sorry h1{
font-family: 'Ubuntu', sans-serif;
margin-left: auto;
margin-right: auto;
color: black;
font-size: 60px;
padding-top: 30px;
padding-bottom: 30px;
width: 170px;
}

.sorry p{
font-family: 'Ubuntu', sans-serif;
font-size: 20px;
padding-bottom: 20px;
padding-left: 250px;
padding-right: 250px;
}

.sorry {
text-align: center;
background-color: white;
height: 200px;
}