.content{
	color:white;
}

.content h1{
	text-align: center;
	margin-top: 40px;
	font-size: 50px;
}

.content-header{
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	background: linear-gradient(rgba(3, 3, 3, 0.705), rgba(22, 22, 22, 0.808)), url("/home/background.gif");
}

.content-header h1{
	text-align: left;
	font-size: 50px;
}

.content-header p{
	text-align: left;
	font-size: 30px;
}

.content-learn{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.cl-bottom{
	margin-bottom: 120px;
}

.content-learn div{
	width: 150px;
	height: auto;
	text-align: center;
	background-color: #282828;
	padding-left: 200px;
	padding-right: 200px;
	padding-bottom: 100px;
	padding-top: 100px;
	border-radius: 5px;
	margin: 20px; 
	cursor: pointer;
	transition: .5s;
}

.content-learn div i{
	font-size: 70px;
}

.content-learn div p{
	text-align: center;
	margin-top: 10px;
	font-size: 40px;
	font-weight: 900;
}

.content-learn div:hover{
	animation-name: colorAnimation;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;	
}

.content-love{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 120px;
	align-items: center;
}

.content-love div{
	width: 450px;
	height: auto;
	text-align: center;
	background-color: #282828;
	padding-left: 200px;
	padding-right: 200px;
	padding-bottom: 100px;
	padding-top: 100px;
	border-radius: 5px;
	margin: 20px; 
	cursor: pointer;
	transition: .5s;
}

.content-love div i{
	font-size: 70px;
}

.content-love div p{
	text-align: center;
	margin-top: 10px;
	font-size: 40px;
	font-weight: 900;
}

.content-love div:hover{
	animation-name: colorAnimation;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;	
}

.cybersec{
	transition: .5s;
	background: linear-gradient(rgba(3, 3, 3, 0.705), rgba(22, 22, 22, 0.808)), url('/about/cybersecback.jpg');
	background-size: 820px;
}

.network{
	transition: .5s;
	background: linear-gradient(rgba(3, 3, 3, 0.705), rgba(22, 22, 22, 0.808)), url('/about/networkback.jpg');
	background-size: 820px;
}

.cybersec:hover{
	background-size: 850px;
}

.network:hover{
	background-size: 850px;
}

.content-dev{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.content-dev div{
	width: 150px;
	height: auto;
	text-align: center;
	background-color: #282828;
	padding-left: 200px;
	padding-right: 200px;
	padding-bottom: 100px;
	padding-top: 100px;
	border-radius: 5px;
	margin: 20px; 
	transition: .5s;
	/*
	if i use this animation again page becomes too gay
	animation-name: colorAnimation;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	*/	
}

.content-dev div i{
	font-size: 70px;
}

.content-dev div p{
	text-align: center;
	margin-top: 10px;
	font-size: 40px;
	font-weight: 900;
}

.otherdev{
	text-align: center;
	margin-bottom: 120px;
}

.otherdev a{
	color: white;
	font-size: 30px;
	font-weight: 900px;
}