.content{
	color:white;
}

.content-titles{
	text-align: center;
	margin-top: 40px;
	font-size: 50px;
}

.content-header{
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	background: linear-gradient(rgba(3, 3, 3, 0.705), rgba(22, 22, 22, 0.808)), url("/home/background.gif");
}

.content-header h1{
	text-align: left;
	font-size: 50px;
}

.content-header p{
	text-align: left;
	font-size: 30px;
}

.content-posts{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 200px;
	padding-left: 200px;
	padding-right: 200px;
}

.content-posts p{
	font-size: 30px;
}

.content-posts code{
	background-color: #121212;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 25px;
}

.content-posts img{
	border-radius: 5px;
	margin: 30px;
}

.content-posts iframe{
	border-radius: 5px;
	margin: 30px;
}

.content-posts a{
	color: #B8E2F2;
}

.content-posts div{
	width: 500px;
	height: auto;
	text-align: center;
	padding: 50px;
	border-radius: 5px;
	margin: 20px; 
	cursor: pointer;
	transition: .5s;
}

.content-posts div:hover{
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;	
}

.post-desc{
	font-size: 30px;
}

.post-subtext{
	font-weight: 900;
}

.post-title{
	font-size: 35px;
}